@charset "utf-8";
/***公共***/
body{font-size:12px;font-family:"微软雅黑",Arial;color:#666;}
body,ul,li,p,h1,h2,h3,h4,h5,h6,input,div,dl,dt,dd,span,b,table,tr,td{margin:0px;padding:0px;}
ul{list-style-type:none;}
img{border:none;display:block;}
input{border:none;}
table,tr,td{border-collapse:collapse;border-spacing:0px;}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
a{color:#666;text-decoration:none;}
a:link{color:#666;text-decoration:none;}
a:visited{color:#666;text-decoration:none;}
a:hover{color:#f00;text-decoration:underline;}
a:active{color:#666;text-decoration:none;}
